<h2>Latest Bookmarks</h2>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
  <% @blogs.each do |blog| %>
    
    <tr>
      <td><%= link_to blog.post %></td>
      <td><%= link_to blog.user.username %></td>
      <td><%= image_tag blog.image_url.to_s %></td>
      <td><%= image_tag blog.image_url(:thumb).to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>

