<h2>Latest Posts</h2>

      
    <div class="table-responsive">
      <div class="table">
        
 

  <tbody>
  <% @blogs.each do |blog| %>
    
    <tr>
      <div class="container">
  <div class="row">
      <div class="span7"><td><%= blog.post %></td></div>
    <div class="span1"><td><%= link_to blog.user.username, :controller => 'users', :action => 'show', :id => blog.user %></td></div>
      <div class="span4"><td><%= image_tag blog.image_url(:border1).to_s %></td></div>
        </div><br>
      </div>
    </tr>
  <% end %>
  </tbody>

      </div>
    </div>

