<h2>Latest Posts</h2>
<table style="width: 100%">
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
  <% @blogs.each do |blog| %>
    
    <tr>
      <div class="span4"><td><%= blog.post %></td></div>
      <div class="span4"><td><%= blog.user.username %></td></div>
      <div class="span4"><td><%= image_tag blog.image_url(:border1).to_s %></td></div>
      
    </tr>
  <% end %>
  </tbody>
</table>

blog.user.username